<!doctype html>
<html lang="en">

	<head>
		<meta charset="utf-8">

		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<link rel="stylesheet" href="http://cosmopol.is/cereal/css/reveal.min.css">
		<link rel="stylesheet" href="http://cosmopol.is/cereal/css/theme/serif.css" id="theme">

		<!--[if lt IE 9]>
		<script src="lib/js/html5shiv.js"></script>
		<![endif]-->

		<title> g o o f s </title>

	</head>

	<body>

		<div class = "reveal">
			<div class = "slides">

			  	{% if login_link: %}
				  	<section>
				  		<h3>ayyyy welcome</h3>
					  	click <a href="{{login_link}}">here</a> to login to reddit
					</section>
				
				{% elif posts %}


					{% for post in posts: %}
						<section>
							
							<section id="{{post.url}}">
								<h3>{{post.subreddit}}</h3>
								<div class="title">{{post.title}}</div>
							</section>

							<section data-state="loadmeta">
								<div class="wait"><img src="static/wait.gif"></div>
								<a href="{{post.url}}"></a>
							</section>

						</section>

					{% endfor %}

					<section>
						<h3> ~at end~ </h3>
						press next......
					</section>



				{% endif %}
			</div>
		</div>

		<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
		<script src="http://cosmopol.is/cereal/lib/js/head.min.js"></script>
		<script src="http://cosmopol.is/cereal/js/reveal.js"></script>
		<script src="http://cosmopol.is/cereal/js/keyboard.js"></script>
		<script src="http://cdn.embed.ly/jquery.embedly-3.1.1.min.js" type="text/javascript"></script>

		<script>

			// Full list of configuration options available here:
			// https://github.com/hakimel/reveal.js#configuration
			Reveal.initialize({
			controls: false,
			progress: true,
			history: false,
			center: true,
			//autoSlide: 5000,
			keyboard: true,
			//loop: true,

			theme: Reveal.getQueryHash().theme || 'serif', // available themes are in /css/theme
			transition: Reveal.getQueryHash().transition || 'default', // default/cube/page/concave/zoom/linear/fade/none
			});

			// set keyboard shortcuts
			KeyboardJS.on('q', function() { queue(Reveal.getCurrentSlide()) }, null)
			KeyboardJS.on('l', checkIfEndOfFeed, null)

			// we open this queue after user is down browsing
			var read_queue = []

			// adds the URL for the given slide to our interest queue
			function queue(slide) {

				// make sure we're not on the last slide
				if (!Reveal.isLastSlide()) {

					//  if we're on a preview slide,
					if (!$(slide).attr('id')) {

						// we need to get the slide with the actual data in it
						var main_slide = $(slide).prev()

					// otherwise, we're already on the main slide
					} else {
						var main_slide = $(slide)
					}

					// we keep post url in id of <section> tag
						var url = main_slide.attr('id') 
						var title = main_slide.children('.title').html()

					if (!hasInterestMarker(main_slide)) {

					  	// add url to queue as a json object
					  	read_queue.push({
					  		url:url,
					  		title:title
					  	})

					  	// add visual feedback to the slide to mark interest
					  	addInterestMarker(main_slide)

					} else {

						// remove this article from the queue
						for (var i=0;i<read_queue.length;i++) {
							if (read_queue[i]['url'] === url) {
								remove(read_queue,read_queue[i])
							}
						}

						// remove interest marker
						removeInterestMarker(main_slide)
					}


					// check if we're done
					checkIfEndOfFeed()

					// move slide deck forward
					if (!Reveal.isLastSlide())
						Reveal.right()
				}

			}

			// this gets called whenever a div with datatype "loadmeta" is the current slide. we use it to load the preview embed on demand.
			Reveal.addEventListener( 'loadmeta', function() {
				
				//for some reason, this is not the slide we want, but the slide we just came from
				var current_slide = Reveal.getCurrentSlide()

				// get the slide we want
				var ours = $(current_slide).next()
								
								
				// if we haven't loaded it already,
				if (ours.children(".embed").html() == undefined) {
					ours.embedly({
						query: { maxwidth: 700, wmode: 'transparent'},
						key: 'd783a092be4446d1b18f0932593c59a5',
						done: function(data){
								//remove spinner when loaded
								ours.children(".wait").remove();
								// HACK
								Reveal.up(); Reveal.down() 
							}
					})
				}

			}, false );

			// takes a jquery object and puts an interest marker on it
			// static/i.png is the interest marker
			function addInterestMarker(slide) {
					slide.append("<div class='i'><img src='static/i.png'></div>")
			}

			function removeInterestMarker(slide) {
					slide.children('.i').remove()
			}

			// returns true if the slide has already been liked
			function hasInterestMarker(slide) {
				if (slide.children('.i').html() == undefined)
					return false;
				return true
			}

			// if we are at end of list, open up all the urls
			// NB: this is triggered when 'l' key is pressed AND whenever queue() is called
			function checkIfEndOfFeed() {

				if (Reveal.isLastSlide()) {

					// post the json object to server
					$.ajax({
						type: 'POST',
						url: '/done',
						contentType: 'application/json',
						dataType:'json',
						data: JSON.stringify({posts: read_queue}),
						success: function(data) {
							document.body.innerHTML = data.html
						}
					})
				}

			}

			// remove an item from an array
			function remove(arr, item) {
				for(var i = arr.length; i--;) {if(arr[i] === item) {arr.splice(i, 1); } } return arr } 

		</script>
	</body>
</html>