<!doctype html>
<html lang="en">

	<head>
		<meta charset="utf-8">

		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<link rel="stylesheet" href="http://cosmopol.is/cereal/css/reveal.min.css">
		<link rel="stylesheet" href="http://cosmopol.is/cereal/css/theme/serif.css" id="theme">

		<!--[if lt IE 9]>
		<script src="lib/js/html5shiv.js"></script>
		<![endif]-->

		<title> g o o f s </title>

	</head>

	<body>

		<div class = "reveal">
			<div class = "slides">
			  	<section>
				  	<h3>you're logged out</h3> 
				</section>
			</div>
		</div>

		<script src="http://cosmopol.is/cereal/lib/js/head.min.js"></script>
		<script src="http://cosmopol.is/cereal/js/reveal.js"></script>
		<script>

			// Full list of configuration options available here:
			// https://github.com/hakimel/reveal.js#configuration
			Reveal.initialize({
			controls: false,
			progress: true,
			history: false,
			center: true,
			//autoSlide: 5000,
			keyboard: true,
			//loop: true,

			theme: Reveal.getQueryHash().theme || 'serif', // available themes are in /css/theme
			transition: Reveal.getQueryHash().transition || 'default', // default/cube/page/concave/zoom/linear/fade/none
			});
		</script>
	</body>
</html>